<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skeleton Project Counters</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="mainContainer">
        <div class="contentContainer">
            <h1>Counter Manager App</h1>
            <div class="countersContainer">
                <div class="counterContainer">
                    <h3>Counter1</h3>
                    <div class="box">{{counter1}}</div>
                </div>
                <div class="counterContainer">
                    <h3>Counter2</h3>
                    <div class="box">{{counter2}}</div>
                </div>
            </div>
            <div class="incContainer">
                <div class="incBlock">
                    <h3>Counter1</h3>
                    <a href="/incCounter1"><button>+</button></a>
                </div>
                <div class="incBlock">
                    <h3>Counter2</h3>
                    <a href="/incCounter2"><button>+</button></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>